body {
    background-image: url("./image/cork-board.png");
    font-family: 'Permanent Marker', cursive;
}

.navbar {
    margin-bottom: 5%;
    justify-content: space-around;
}

.jumbotron {
    padding: 3%;
    background-image: url("./image/linedpaper.png");
}

.checkbox {
    margin: 3%;
}

.passwordText {
    display: none;
    position: absolute;
    left: -3000px;
}

.passwordCopy {
    display: block;
}

